<div class="row vh-100">
  <div class="background">
    <div class="loginbox">
      <div class="box">
        <h3>Signin</h3>
        <div class="formGroup">
          <input
            type="text"
            class="form-control"
            placeholder="Username"
            #userName
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="password"
            class="form-control"
            placeholder="Password"
            #userPassword
            required
          />
        </div>

        <div class="formGroup">
          <input
            type="button"
            class="btn btn-primary btn-block"
            value="Sign in"
          />
        </div>

        <div class="formGroup">
          <button
            type="button"
            class="btn btn-danger btn-block"
            (click)="login()"
          >
            Log in with Google
          </button>
        </div>

        <div class="redirectToLogin">
          <span
            >Not registered yet?<span class="redirect" routerLink="/register">
              Register</span
            ></span
          >
        </div>
      </div>
    </div>
  </div>
</div>
