<nav
  class="navbar row navbar-expand-lg navbar-light bg-light sticky-top shadow"
>
  <div class="container-fluid col-12">
    <div class="navbar-brand">
      <button class="btn" type="button">
        <img
          data-bs-toggle="offcanvas"
          data-bs-target="#offcanvasWithBackdrop"
          aria-controls="offcanvasWithBackdrop"
          src="../../assets/img/menu.svg"
          alt="menu"
          width="30"
          height="24"
          class="d-inline-block align-text-top"
        />
      </button>

      Beautfy
    </div>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Products</a>
        <a class="nav-link" href="#">Shop</a>
      </div>
    </div>
    <form class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <a class="navbar-brand" href="#">
      <em class="pi pi-shopping-cart" style="font-size: 1.8rem"></em>
    </a>
  </div>
</nav>
<div
  class="offcanvas offcanvas-start"
  tabindex="-1"
  id="offcanvasWithBackdrop"
  aria-labelledby="offcanvasWithBackdropLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasWithBackdropLabel">Welcome</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <h1>Hi There!</h1>
  </div>
</div>
