.img-container
  background-image: url('../../assets/img/carousal-1.webp')
  overflow: hidden
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  height: calc(100vh - 5em)
