<!-- NG-ZORRO
<a href="https://github.com/NG-ZORRO/ng-zorro-antd" target="_blank" style="display: flex;align-items: center;justify-content: center;height: 100%;width: 100%;">
  <img height="300" src="https://img.alicdn.com/tfs/TB1X.qJJgHqK1RjSZFgXXa7JXXa-89-131.svg">
</a> -->

<!-- <router-outlet></router-outlet> -->
<div class="root-container container-fluid">
  <div class="row">
    <div class="col-12">
      <app-header></app-header>
      <app-carousal></app-carousal>
      <!-- <app-home-page></app-home-page> -->
      <app-card-list [cardList]="cardList"></app-card-list>
      <app-footer></app-footer>
    </div>
  </div>
</div>
